#primary-nav {
    padding: 0;
}

#home-slider {
    width: 800px;
	height: 500px;
	margin: 0 auto 50px;
}

#footer {
    margin-top: 50px;
}

#staff .row {
    margin-bottom: 50px;
}

body {
	background: url('../images/bg.jpg') no-repeat top center fixed;
	/*background-size: cover;*/
}

<<<<<<< HEAD
.navbar-default .navbar-nav>li>a:hover {
	color:#9632b6;
}
.footer .owners>ul{
	list-style-type: none;
}

=======
.navbar-default .navbar-nav > li > a:hover {
	color: #9632b6;
}
>>>>>>> 1ae890578edde42254eb6a53b171423307224ee8
