#primary-nav {
    padding: 0;
}

#home-slider {
    width: 800px;
	height: 500px;
	margin: 0 auto 50px;
    max-width: 100%;
}

#footer {
    margin-top: 50px;
}

#staff .row {
    margin-bottom: 50px;
}

body {
	background: url('../images/bg.jpg') no-repeat top center fixed;
	/*background-size: cover;*/
}

<<<<<<< HEAD

.navbar-default .navbar-nav>li>a:hover {
	color:#9632b6;
}
.footer .owners>ul{
	list-style-type: none;
}


=======
.footer .owners > ul {
	list-style-type: none;
}

>>>>>>> 659a4d652b51a78f01c6d111350b72bee505b264
.navbar-default .navbar-nav > li > a:hover {
	color: #9632b6;
}

<<<<<<< HEAD
.left {
	float: left;
}
.dropdown-toggle, .dropdown-menu{
	background-color: #000000;
	color:#888888;
}

audio {
	visibility: hidden;
}
=======

>>>>>>> 659a4d652b51a78f01c6d111350b72bee505b264
